<div class="nav-bar">
  <!-- Potential Header Component -->
  <mat-toolbar class="mat-toolbar">
    <div>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Binge Bundle</span>
      </a>
    </div>
    <!-- Fix Search Bar -->
    <div class="search-and-buttons">
    <div class="search-bar">
      <a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button mat-icon-button (click)="search(searchText.value)" matTooltip="Search Button">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
        <input #searchText
          matInput
          type="text"
          placeholder="Search for Movies or TV Shows"
          (keydown)="search(searchText.value)"
          matTooltip="Input field"
        />
      </a>
    </div>
  </div>
    <!-- Fix Search Bar -->

    <div class="btn">
      <a routerLink="/" routerLinkActive="active-link" ariaCurrentWhenActive="page">
      <button mat-icon-button matTooltip="Home Button" aria-label="Home Button">
        <mat-icon>home</mat-icon>
      </button>
    </a>
      <a routerLink="/details" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button>Details</a>
      <button mat-icon-button matTooltip="Cart Page">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <!-- Header Component -->
</div>
