.mat-toolbar {
    background-color: #9A031E;
    color: #EFE7DA;
    display: flex;
    justify-content: space-between;
}

.btn a {
    color: inherit;
    background-color: inherit;
}

.search-and-buttons {
    display: flex;
    justify-content: space-evenly;
}

.search-icon {
  color: #212738;
}

a {
  color: unset;
  text-decoration: none; /* no underline */
}

.search-bar {
    padding: 0px 56px 0px 8px;
    background: #eaf1fb;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 352px;
    text-align: center;
}
