.search-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    grid-gap: 1vw;
    padding: 2vw;
    grid-auto-rows: 420px;
  }
  
  h2 {
    color: #efe7da;
    text-align: center;
  }
  
  a {
    color: black;
    text-decoration: none; /* no underline */
  }
  
  .search-card {
    height: 400px;
    position: relative;
    background-color: white;
  }
  
  .search-card img {
    height: 85%;
    width: 100%;
  }
  
  .search-card:hover {
    box-shadow: 0 0 10px 5px #ffe658;
    cursor: pointer;
  }