/* .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));
    grid-gap: 10px;
    padding: 10px;
} */

 h2 {
    color: #EFE7DA;
}

.movie-card{
    width: 300px;
    height: 475px;
}

.movie-card img {
    width: 300px;
    height: 400px;
}

.movie-card:hover {
    box-shadow: 0 0 10px 5px #FFE658;
    cursor: pointer;
}