<div class="nav-bar">
  <!-- Potential Header Component -->
  <mat-toolbar class="mat-toolbar">
    <span>Binge Bundle</span>
    <div class="spacer"></div>
    <!-- Fix Search Bar -->
    <div class="search-bar">
      <mat-form-field class="mat-input">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          matInput
          type="search"
          placeholder="Search for Movies of TV Show"
        />
      </mat-form-field>
    </div>
    <!-- Fix Search Bar -->

    <div class="btn">
      <a mat-button>Action</a>
      <a mat-button>Comedy</a>
      <a mat-button>Romantic</a>
      <a mat-button>Drama</a>
      <a mat-button>Kids</a>
    </div>
    <mat-icon>shopping_cart</mat-icon>
  </mat-toolbar>
  <!-- Header Component -->

  <!-- Movie Grid -->
  <!-- Cards will render based on Movie API -->
  <div class="movie-grid">
    <mat-card class="movie-card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIpnnMXgQ2DU3l6TsX2cYoFSgL_h0Zwi4L0MfzH3Gly-ZI59jb"
      />
      <mat-card-content>Simple card</mat-card-content>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>theaters</mat-icon>
      </div>
    </mat-card>
    <mat-card class="movie-card">
      <img
        src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/kung-fu-panda-4/images/regions/us/onesheet.jpg"
      />
      <mat-card-content>Simple card</mat-card-content>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>theaters</mat-icon>
      </div>
    </mat-card>
    <mat-card class="movie-card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzX9jlCuF8qETRd8Ok-qLEhn2GSkWWAEt8JydR27NKAOFro8T6"
      />
      <mat-card-content>Simple card</mat-card-content>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>theaters</mat-icon>
      </div>
    </mat-card>
    <mat-card class="movie-card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBzKNp5N7olcyBlgyi1ntxgUNd_4m-Esj39uzvUeYkZxhDn61"
      />
      <mat-card-content>Simple card</mat-card-content>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>theaters</mat-icon>
      </div>
    </mat-card>
  </div>
  <!-- Movie Grid -->
</div>
