<div class="tv-section-title">
<h2>TV SHOWS</h2>
</div>
<div class="movie-grid">
  <div class="box" *ngFor="let tv_show of tv_titles">
    <a routerLink="/details" [queryParams]="{id: tv_show.id, type: 'tv'}" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div>
      <mat-card class="movie-card">
        <img
          ngSrc="https://image.tmdb.org/t/p/original/{{ tv_show.poster_path }}"
          height="400"
          width="300"
        />
        <mat-card-content><b>{{ tv_show.name }}</b>
        <div class="icon-container">
          <mat-icon>info</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>tv</mat-icon>
        </div>
      </mat-card-content>
      </mat-card>
    </div>
  </a>
  </div>
</div>
<div>
<mat-paginator [length]="total_results"
[pageSize]="20"
[pageIndex]="currentPage"
[showFirstLastButtons]="true"
(page)="pageChangeEvent($event)"
aria-label="Select page"></mat-paginator>
</div>