<div class="details-page">
<div class="details" *ngIf="type === 'movie'">
  <mat-card class="details">
  <div id="{{ id }}">
    <mat-card-header>
      <mat-card-title-group>
      <mat-card-title>
      <h2>{{ movieDetails.title }}</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <h3>Release Date: {{ movieDetails.release_date }}</h3>
    <h3>Streaming Services: </h3>
    <div class="providers" *ngFor="let provider of steamingProviders">
      <span class="inline-heading">
      <img src="{{ provider.logo_url }}" alt="{{ provider.name }} Logo" />
    </span>
    </div>
    <h3>Genres: <span class="inline-heading" *ngFor="let genre of movieDetails.genres">
      <b>{{ genre.name }}</b>,
    </span> </h3>
    <h3>Original Country: {{ movieDetails.origin_country }}</h3>
    <h3>Original Language: {{ movieDetails.original_language }}</h3>
    <h3>Runtime: {{ movieDetails.runtime }} minutes</h3>
  </mat-card-subtitle>
  <img class="poster"
  ngSrc="https://image.tmdb.org/t/p/original/{{ movieDetails.poster_path }}"
  height="400"
  width="300"
/>
</mat-card-title-group>
</mat-card-header>
<h3 class="summary">Summary: </h3>
    <h4 class="summary">{{ movieDetails.overview }}</h4>
  </div>
</mat-card>
</div>

<div class="details" *ngIf="type === 'tv'">
  <mat-card class="details-content">
    <mat-card-header>
      <mat-card-title-group>
      <mat-card-title>
         <h3>{{ tvDetails.name }} </h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h3><b>First Air Date:</b> {{ tvDetails.first_air_date }} </h3>
        <h2>{{ tvDetails.tagline }}</h2>
        <h4>Original Country: {{ tvDetails.origin_country }}</h4>
      <h4>Original Language: {{ tvDetails.original_language }}</h4>
      <h4>Streaming Services: </h4>
      <div class="providers" *ngFor="let provider of steamingProviders">
        <span class="inline-heading">
        <img src="{{ provider.logo_url }}" alt="{{ provider.name }} Logo" />
      </span>
      </div>
      <h4>Genres: <span class="inline-heading"*ngFor="let genere of tvDetails.genres">
          {{ genere.name }}</span>
        </h4>
      <h4>Number of Seasons: {{ tvDetails.number_of_seasons }}</h4>
      <h4>Number of episodes: {{ tvDetails.number_of_episodes }}</h4>
      </mat-card-subtitle>
      <img class="poster"
      ngSrc="https://image.tmdb.org/t/p/original/{{ tvDetails.poster_path }}"
      height="400"
      width="300"
    />
    </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h3 class="summary">Summary: </h3>
      <h4 class="summary">{{ tvDetails.overview }}</h4>
    </mat-card-content>
  </mat-card>
</div>
</div>
<button mat-icon-button (click)="backClicked()">Back</button>


