.details {
  display: flex;
  justify-content: center;
  align-items: center;  /* Adjust as needed */
  }

  mat-card{
    width: 50%;
    height: fit-content;
  }

  .poster {
    margin: 0 auto;
    display: block;
  }

  .tagline {
    text-align: center;
  }

  .providers img {
    height: 20px;
  }


/* .details h1, h3 {
    color: #efe7da;
    text-align: center
} */

img {
   border-radius: 50px;
  }
