<div class="cart-page">
  <div class="page-header">
    <div>
      <h1>Bundle Total</h1>
    </div>
    <div>
      <h1>${{ bundleTotal }}</h1>
    </div>
  </div>

  <div class="cart">
    <mat-card class="card" *ngFor="let item of cart">
      <mat-card-header>
        <mat-card-title>
          <div class="card-title-content">
            <img
              mat-card-sm-image
              src="{{ item.logo_url }}"
              alt="{{ item.provider_name }} logo"
            />
            <br />
            <h2>{{ item.provider_name }} {{ item.plan }} ${{ item.price }}</h2>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let title of item.titles">
        <ul>
          <li>
            <h2>{{ title }}</h2>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
