.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 1vw;
  padding: 2vw;
  grid-auto-rows: 420px;
}

/* Responsive grid */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
}

h2 {
  color: #efe7da;
  text-align: center;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.movie-card {
  height: 400px;
  position: relative;
  background-color: #343D58;
  color: #EFE7DA;
}

mat-card-content .icon-container {
  display: flex;
  justify-content: right;
}

.movie-card img {
  height: 85%;
  width: 100%;
}

.movie-card:hover {
  box-shadow: 0 0 10px 5px #ffe658;
  cursor: pointer;
}
/* TODO: change navigation buttons */
mat-paginator {
  margin-top: -2em;
  color: #EFE7DA;
  background-color: #9A031E;
  border-radius: 50px;
  font-size: 100%;
  width: auto;
  float:right;
}
