<div class="title">
  <h2>MOVIES</h2>
</div>
<div class="movie-grid">
  <div class="box" *ngFor="let movie of movie_titles">
    <mat-card class="movie-card">
      <img ngSrc="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" height="400" width="300" />
      <mat-card-content>{{ movie.original_title }}</mat-card-content>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>theaters</mat-icon>
      </div>
    </mat-card>
  </div>
</div>
